.bg-effect2::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.bg-effect2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-effect2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsla(45, 100%, 58%, 0.463);
  z-index: -1;
  transition: transform .3s ease;
}

.bg-effect2 {
  position: relative;
}

.bg-effect{
  background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
}

.bg-effect:hover{
  background-position: -100% 0;
}
.textcard:hover .bg-effect {
  /* Änderungen, die angewendet werden sollen */
  background-position: -100% 0;
}
